<ion-header>
    <ion-toolbar class="profil" color="primary">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
    <ion-title>PROFIL SAYA</ion-title>
  </ion-buttons>
</ion-toolbar>
</ion-header>

    <ion-content color="secondary">
                <ion-card color="primary" class="welcome-card">
                        <img src="/assets/akun.png" alt="" />
                        <ion-item>
                        <ion-label>Username     :</ion-label>
                        <ion-input placeholder="Erin Fitri Aknorita"></ion-input>
                      </ion-item>
                      <ion-item>
                            <ion-label>Email     :</ion-label>
                            <ion-input placeholder="erinfitir@student.ppns.ac.id"></ion-input>
                          </ion-item>
                          <ion-item>
                              <ion-label>No. HP     :</ion-label>
                              <ion-input placeholder="0917040045"></ion-input>
                            </ion-item>
                    </ion-card>
                    <div class="center">
                        <ion-button shape="round" href="/account">UBAH</ion-button>
                        </div>
</ion-content>
