<ion-header>
    <ion-toolbar class="profil" color="primary">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
    <ion-title>DETAIL PERALATAN DAPUR</ion-title>
  </ion-buttons>
</ion-toolbar>
</ion-header>
  <ion-content color="secondary">
      <ion-card-content>
          <ion-card>
              <ion-list>
                <ion-item color="primary">
                  <ion-label>
                    ALAT DAPUR
                  </ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label>
                         BLENDER
                      </ion-label>
                  </ion-item>
                  <ion-item>
                         <ion-label>
                        MIXER
                         </ion-label>
                        </ion-item>
                     <ion-item>
                          <ion-label>
                          MICROWAVE
                          </ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-label>
                          KOMPOR
                          </ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-label>
                          HEATER
                          </ion-label>
                      </ion-item>
                          <ion-item>
                              <ion-label>
                              KULKAS
                              </ion-label>
                          </ion-item>
                        
              </ion-list>
          </ion-card>
      </ion-card-content>
      <div class="center">
          <ion-button shape="round" href="/service">SERVICE</ion-button>
      </div>
    </ion-content>
