<ion-content color="secondary">
<ion-card class="card" color="primary">
  <ion-label>
  LOGIN TECH-JOB
</ion-label></ion-card>

        <ion-card color="primary" class="welcome-card">
                <img src="/assets/akun.png" alt="" />
                <ion-item>
                <ion-label>Username     :</ion-label>
                <ion-input placeholder=""></ion-input>
              </ion-item>
              <ion-item>
                    <ion-label>Password     :</ion-label>
                    <ion-input placeholder=""></ion-input>
                  </ion-item>
            </ion-card>
            <div class="center">
                <ion-button shape="round" href="/home">LOGIN</ion-button>
                </div>
                <div class="center">
                  <p><ion-label>Have No Acoount?</ion-label>
                    </p>
                    <ion-button shape="round" href="/register">REGISTER</ion-button>
                    </div>
</ion-content>