<ion-list>
  <ion-item>
    <ion-label>LAPTOP<ion-icon name="fastforward"></ion-icon></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>HP<ion-icon name="fastforward"></ion-icon></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>MOTOR<ion-icon name="fastforward"></ion-icon></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>MOBIL<ion-icon name="fastforward"></ion-icon></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>MESIN CUCI<ion-icon name="fastforward" size="medium"></ion-icon></ion-label>
  </ion-item>
</ion-list>
<ion-button href="#">BACK</ion-button>