<ion-content color="secondary">
      <ion-card-content fullscreen>
          <ion-header><ion-title>
              DETAIL SERVICE
            </ion-title></ion-header>

   <ion-card class="welcome-card">
      <img src="/assets/keranjang2.png" alt="" />
   
  <ion-item>
    <ion-label>Nama     :</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>
  <ion-item>
     <ion-label>Alamat   :</ion-label>
  <ion-input placeholder=""></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Jenis Barang     :</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Jumlah   :</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tanggal Pengambilan     :</ion-label>
      <ion-input placeholder=""></ion-input>
   </ion-item>
   <ion-item>
      <ion-label>Tanggal Pengambilan   :</ion-label>
      <ion-input placeholder=""></ion-input>
   </ion-item>
   <ion-item>
      <ion-label>Kerusakan     :</ion-label>
      <ion-input placeholder=""></ion-input>
   </ion-item>
   <ion-item>
      <ion-label>No. HP   :</ion-label>
      <ion-input placeholder=""></ion-input>
   </ion-item>
</ion-card>
</ion-card-content>
</ion-content>
<ion-button href="/home">BACK</ion-button>