<ion-header>
        <ion-toolbar class="profil" color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
        <ion-title>DETAIL GADGET</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
      <ion-content color="secondary">
          <ion-card-content>
              <ion-card>
                  <ion-list>
                    <ion-item color="primary">
                      <ion-label>
                        HP
                      </ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-label>
                             OPPO
                          </ion-label>
                      </ion-item>
                      <ion-item>
                             <ion-label>
                            SAMSUNG
                             </ion-label>
                            </ion-item>
                         <ion-item>
                              <ion-label>
                              VIVO
                              </ion-label>
                          </ion-item>
                          <ion-item>
                              <ion-label>
                              XIAOMI
                              </ion-label>
                          </ion-item>
                          <ion-item>
                              <ion-label>
                              IPHONE
                              </ion-label>
                          </ion-item>
                          <ion-item color="primary">
                              <ion-label>
                                LAPTOP
                              </ion-label>
                              </ion-item>
                              <ion-item>
                                  <ion-label>
                                  MAC
                                  </ion-label>
                              </ion-item>
                              <ion-item>
                                  <ion-label>
                                  ASUS
                                  </ion-label>
                              </ion-item>
                              <ion-item>
                                  <ion-label>
                                  TOSHIBA
                                  </ion-label>
                              </ion-item>
                              <ion-item>
                                  <ion-label>
                                  LENOVO
                                  </ion-label>
                              </ion-item>
                              <ion-item color="primary">
                                  <ion-label>
                                    TABLET
                                  </ion-label>
                                  </ion-item>
                              <ion-item>
                                  <ion-label>
                                  SAMSUNG
                                  </ion-label>
                              </ion-item>
                            
                  </ion-list>
              </ion-card>
              <div class="center">
                  <ion-button shape="round" href="/service">SERVICE</ion-button>
                  </div>
          </ion-card-content>
