<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-searchbar placeholder="Temukan Technician"></ion-searchbar>
    </ion-buttons>
        
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card class=lebar color="primary">
    <div class="h1" color="dark"><ion-label>SELAMAT DATANG</ion-label></div>
    <div class="h3" color="dark"><ion-label>DI TECH-JOB</ion-label></div>
    <p><img src="/assets/teknisi2.jpg" alt="" /></p>
    <div class="h2" color="dark"><p><ion-label>TECH-JOB solusi mudah perbaiki barang anda</ion-label></p></div>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <div class="judul"><ion-label>JENIS BARANG</ion-label></div>
      </ion-list-header>
      <ion-item href="/detail">
        <ion-icon slot="start" color="medium" name="laptop"></ion-icon>
        <ion-label>GADGET</ion-label>
      </ion-item>
      <ion-item href="/detail2">
        <ion-icon slot="start" color="medium" name="radio"></ion-icon>
        <ion-label>ELEKTRONIK</ion-label>
      </ion-item>
      <ion-item href="/detail3">
        <ion-icon slot="start" color="medium" name="cube"></ion-icon>
        <ion-label>PERABOT KAYU</ion-label>
      </ion-item>
      <ion-item href="/detail4">
        <ion-icon slot="start" color="medium" name="restaurant"></ion-icon>
        <ion-label>PERABOTAN DAPUR</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
