<ion-content color="secondary">
    <ion-card class="card" color="primary">
      <ion-label>
      REGISTER TECH-JOB
    </ion-label></ion-card>
    <ion-card color="primary" class="welcome-card">
            <img src="/assets/akun.png" alt="" />
            <ion-item>
            <ion-label>Username     :</ion-label>
            <ion-input placeholder=""></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Email     :</ion-label>
              <ion-input placeholder=""></ion-input>
            </ion-item>
          <ion-item>
                <ion-label>Password     :</ion-label>
                <ion-input placeholder=""></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Confirm Password     :</ion-label>
                  <ion-input placeholder=""></ion-input>
                </ion-item>
        </ion-card>
        <div class="center">
            <ion-button shape="round" href="/login">REGISTER</ion-button>
            </div>
            <div class="center">
              <p><ion-label>Have Acoount?</ion-label>
                </p>
                <ion-button shape="round" href="/login">LOGIN</ion-button>
                </div>
</ion-content>